<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Hello, {{ name }}!</title>
</head>
<body>
<nav class="navbar">
    <ul class="nav-links">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/blog">Blog</a></li>
    </ul>
</nav>

<main>{% block main %}No Content{% endblock %}</main>
</body>
</html>