body {
    color: goldenrod;
    background-color: #222;
    font-family: Arial, SansSerif;
    text-align: center;
}

nav.navbar {
    display: none;
}

@media (min-width: 600px) {

    nav.navbar {
        width: 100%;
        display: block;

        z-index: 1000;
    }

    nav.navbar ul.nav-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        margin: 0;
        padding: 0;

        border-top: 3px solid white;
        border-bottom: 4px double white;

        list-style: none;
    }

    nav.navbar ul.nav-links li.nav-item {
        justify-content: center;
        /*flex: 1;*/
        width: 200px;
    }

    nav.navbar ul.nav-links li.nav-item:hover {
        background-color: #eeeeee;
    }

    nav.navbar ul.nav-links li.nav-item a  {
        display: inline-block;
        height:100%;
        width:100%;
        padding-top: 20px;
        padding-bottom: 20px;


        color: white;
        text-decoration: none;
        text-align: center;
        font-family: Arial, SansSerif;
    }

    nav.navbar ul.nav-links li.nav-item:hover a {
        color: black;
    }
}
